:root {
  --bg-color: darkgray;
  --text-color: whitesmoke;
  --bg-hover-color: whitesmoke;
  --text-hover-color: darkgray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url(..//imagens/images/fundo.jpg) repeat-x;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  padding: 1em;

}

form {
  margin-left: 20px;
  border: none;
  border-radius: 15px;
  padding: 0.3em;
}

form input {
  width: 550px;
}

form input[type="text"] {
  outline: none;
}


form input,
button {
  font-size: 1.2em;
  border-radius: 0.2em;
  border: solid 1px;
  padding: 0.2em;
}

form button {
  /* Reset Apperance */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /*Box*/
  cursor: pointer;
  background: none;
  color: var(--text-color);
}

form button :hover {
  background-color: var(--bg-hover-color);
  color: var(--text-hover-color);
}

a {
  margin-left: 20px;
  /* border: solid 1px;
  border-color: black; */
  border-radius: 15px;
  padding: 0.3em;
}

a button {
  font-size: 1.2em;
  border-radius: 0.2em;
  border: solid 1px; 
  padding: 0.2em;
  cursor: pointer;
  background: none;
  color: whitesmoke;
}

a button :hover {
  background-color: white;
  color: darkgray;
}